@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: black
}

.header {
    height: 80px;
    background-color: #222;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.brand_holder {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 30px;

    float: left;
}

.brand_holder h1 {
    line-height: 60px;
    font-weight: 700;
    color: #eee;
    font-size: 24px;
    margin-left: 16px;
}

.brand_holder .vertical-line {
    margin-left: 16px;
    height: 35px;
}

.brand {
    display: inline-block;
    height: 60px;
    width: 60px;
    background-image: url("../img/old_logo.png");
    background-size: cover;
}

.vertical-line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #999;
}

.nav-holder {
    height: 100%;
    float: right;
    margin-right: 30px;
}

.nav-holder ul {
    height: 100%;

    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-holder li {
    float: left;
    padding: 7px;
    color: #eee;
}
